body {
    background-color: #eae8e7;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style-type: none;
}

.box {
    background-color: #ffffff;
    height: 30%;
    text-align: center;
}

#display {
    display: flex;
}

#bio {

    width: 30%;
    text-align: center;
    color: #ffffff;
    background-color: #5da4d9;
    height: fit-content;
}

.experience {
    margin-left: 80px;
    width: 70%;
    text-align: center;
}

/* styling for the contact form*/
input, label, textarea{
    margin-bottom: 5px;
    display: block;
    width: 100%;
    font-size:20px;
    box-sizing: border-box;
}
#contact-form h2{
    text-align:center;
}
#form{
    text-align: left;
    margin-left: 0px;
   border-radius: 4px;

}
button{
    width: 100%;
   padding: 10px;
   margin-top: 5px;
   margin-bottom: 30px;
   border-radius: 5px;
   background-color:#5da4d9;
   font-size: 20px;
}
button:hover{
background-color: #145586
}